.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #D8B9FF;
}

.menu {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.menu li a {
  font-weight: bold;
  font-size: 14px;
}
